<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2008-2011 Zuse Institute Berlin (ZIB)
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

        <!--scan for annotations-->
        <context:annotation-config/>

        <!-- *************************************************************** -->
        <!-- ** SETUP BACKENDS                                               -->

        <!-- setup FileSystemDirectory backend -->
        <bean id="backend1" class="de.zib.vold.backend.FileSystemDirectory">
                <property name="rootPath" value="/tmp/fs" />
                <property name="enc" value="utf-8" />
        </bean>

        <!-- setup BabuDirectory backend -->
        <bean id="backend2" class="de.zib.vold.backend.BabuDirectory">
                <property name="dir" value="/tmp/babu/" />
                <property name="logDir" value="/tmp/babu/log" />
                <property name="sync" value="ASYNC" />
                <property name="databaseName" value="testvold" />
                <property name="enc" value="utf-8" />
        </bean>

        <!-- setup WriteLogger backend -->
        <bean id="backend3" class="de.zib.vold.backend.WriteLogger">
                <property name="logfile" value="/tmp/de.zib.vold-write.log" />
        </bean>

        <!-- *************************************************************** -->
        <!-- ** SETUP VOLATILE LOGIC INTERFACES                              -->

        <!-- setup TimeSlice configuration -->
        <bean id="timeslice" class="de.zib.vold.volatilelogic.TimeSlice">
                <property name="timeSliceSize" value="1000" />
                <property name="numberOfSlices" value="2" />
        </bean>

        <!-- setup VolatileDirectory for backend1 -->
        <bean id="voldi1" class="de.zib.vold.volatilelogic.VolatileDirectoryImpl">
                <property name="backend" ref="backend1" />
                <property name="timeslice" ref="timeslice" />
        </bean>

        <!-- setup VolatileDirectory for backend2 -->
        <bean id="voldi2" class="de.zib.vold.volatilelogic.VolatileDirectoryImpl">
                <property name="backend" ref="backend2" />
                <property name="timeslice" ref="timeslice" />
        </bean>

        <!-- setup VolatileDirectory for backend3 -->
        <bean id="voldi3" class="de.zib.vold.volatilelogic.VolatileDirectoryImpl">
                <property name="backend" ref="backend3" />
                <property name="timeslice" ref="timeslice" />
        </bean>

        <!-- *************************************************************** -->
        <!-- ** SETUP REPLICATION TREE                                       -->

        <bean id="replicationwrapper1" class="de.zib.vold.replication.LocalReplicator">
                <property name="replica" ref="voldi2" />
        </bean>

        <bean id="replicationwrapper2" class="de.zib.vold.replication.LocalReplicator">
                <property name="replica" ref="voldi3" />
        </bean>

        <bean id="replication1" class="de.zib.vold.volatilelogic.ReplicatedVolatileDirectory">
                <property name="directory" ref="replication2" />
                <property name="replicator" ref="replicationwrapper1" />
        </bean>

        <bean id="replication2" class="de.zib.vold.volatilelogic.ReplicatedVolatileDirectory">
                <property name="directory" ref="voldi1" />
                <property name="replicator" ref="replicationwrapper2" />
        </bean>

        <!-- *************************************************************** -->
        <!-- ** SETUP FRONTEND                                               -->

        <!-- setup reaper -->
        <bean id="reaper" class="de.zib.vold.frontend.Reaper">
                <property name="TTL" value="20000" />
                <property name="slicedDirectory" ref="replication2" />
        </bean>

        <!-- setup the frontend -->
        <bean id="frontend" class="de.zib.vold.frontend.Frontend">
                <property name="volatileDirectory" ref="replication2" />
        </bean>
</beans>
